body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eaeaea;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
}

.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100vw;
  margin-right: 10px;
  background-color: white;
}

.form-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #f09100;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f09100;
}

.form-group input[type="text"],
.form-group input[type="date"] {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #f09100;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
  background-color: #f0a500;
}

.dadosCadastrados {
  max-height: 400px;
  overflow-y: scroll;
  text-align: left;
}

.vacina-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.vacina-group {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e62222;
  border: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-weight: bold;
}
